#main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#main-container h4 {
    flex: 1;
    border: 1px solid green;
}

#main-container-ul {
    flex: 1;
    border: 1px solid blue;
}

#main-container-content {
    flex: 1;
    border: 1px solid red;
}